<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 生产者MQ 生产消息配置 -->
    <bean id="producerConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${tworking.mq.url}" />
            </bean>
        </property>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="producerConnectionFactory" />
    </bean>
    <bean id="tworkingDest" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${mq.tworking.queue}" />
    </bean>
    <bean id="tworkingMessageSender" class="com.tcl.tworking.biz.service.message.impl.SendMessageServiceImpl">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="tworkingDest" ref="tworkingDest" />
    </bean>

    <!-- 消费者MQ，消费消息配置 -->
    <bean id="tworkingConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${tworking.mq.url}" />
            </bean>
        </property>
    </bean>
    <bean id="consumerMessageListener" class="com.tcl.tworking.job.web.listener.ConsumerListener" />
    <bean id="consumerJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="false">
        <property name="connectionFactory" ref="tworkingConnectionFactory" />
        <property name="destination" ref="tworkingDest" />
        <property name="messageListener" ref="consumerMessageListener" />
    </bean>

</beans>