<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task-4.0.xsd">

<!-- job的配置开始 -->
<bean id="SendMessageInfoJobDetail"
      class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
      p:name="SendMessageInfoJob" p:targetBeanName="SendMessageInfoJob"
      p:targetMethod="sendMassageInfo">
</bean>
<!-- job的配置结束 -->

<!-- 调度的配置开始 -->
<bean id="SendMessageInfoJobTrigger"
      class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
      p:jobDetail-ref="SendMessageInfoJobDetail" p:cronExpression="0 */30 * * * ?"><!--Cron表达式“10 */1 * * * ?”意为：从10秒开始，每30分钟执行一次。  -->
</bean>
<!-- 调度的配置结束 -->

<!-- 启动触发器的配置开始 -->
<bean id="schedulerFactory"
      class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
        <list>
            <ref bean="SendMessageInfoJobTrigger" />
        </list>
    </property>
</bean>

</beans>